numpy
colorama
pytest
rich
tqdm
accelerate
colorlog
pandas
transformers
openai

# t2i & image editing
diffusers   # in our test, diffusers==0.33.1

# VQA by qwen2.5_VL
torchvision
qwen_vl_utils


# audio
librosa
soundfile

# image
ultralytics